/* ===============================
    General Styles 
=============================== */
:root {
  --primary: #a15100;
  --mainColor: #a15100;
  --color-primary: #d56b00;
  --text-color: black;
  --background: white;
  --btn-text-color: white;
  --background2: #fffbf1;
  --btn-hover: #814200;
  --border-gray: 1px solid rgba(128, 128, 128, 0.2);
  --shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);
  --theme-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  overflow-x: hidden;
  /* font-family: "Montserrat", sans-serif; */
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* Dark Theme */
[data-theme="dark"] {
  --text-color: white;
  --background: #222;
  --background2: #282828;
  --shadow: 4px 6px 4px 0 rgba(39, 39, 39, 0.25);
}

/* ===============================
    astron-Container 
=============================== */
.astron-container {
  position: relative;
  width: 90vw;
  max-width: 1300px;
  margin: 50px auto;
}

/* ===============================
    Buttons 
=============================== */
.primary-btn {
  background-color: var(--primary);
  color: var(--btn-text-color);
  padding: 5px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  transition: background-color 0.3s, transform 0.2s;
}

.primary-btn:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 1200px) {
  .primary-btn {
    font-size: 18px;
    padding: 5px 25px;
  }
}
